[features]
seeds = false
skip-lint = false

[programs.localnet]
entropy_betting = "EntRpYBetXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

[programs.devnet]
entropy_betting = "EntRpYBetXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

[programs.mainnet]
entropy_betting = "EntRpYBetXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[workspace]
members = ["entropy_betting"]
